doctype html

html(lang="en" ng-app="app")
  head
    meta(charset="utf-8")
    meta(name="description" content="Crockwatch")
    meta(name="author" content="Eric Sage")
    title Angular App
    // bower:css
    // endbower
    // inject:css
    // endinject
  body
    div(ng-view)
    // bower:js
    // endbower
    // inject:js
    // endinject
